h1 {
  width: 100%;
  color: var(--mat-sys-primary);
  margin-top: 2vh;
  font: var(--mat-sys-title-large)
}

hr {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 5vh;
}

.buttons-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}